# Question 1 :

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [11]:
#import libraries

import selenium
import pandas as pd
from selenium import webdriver
import time

In [12]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [13]:
url = 'https://www.naukri.com/'
driver.get(url)

In [14]:
#finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [15]:
#write on search bar
search_job.send_keys("Data Analyst")

In [16]:
#finding element for job location bar
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [17]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [18]:
#extract data from webpage-job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [19]:
job_titles =[]
for i in titles_tags[:10]:
    job_titles.append(i.text)
job_titles

['Sr. Data Analyst I - Reference Data and Master Data Management',
 'Data Analyst',
 'Sr. Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst Global Procurement',
 'Immediate Hiring For Business/ Data Analyst- Capital Market/ IB Domain',
 'Tcs Hiring For Senior Data Analyst (bfsi domain)',
 'Hiring For Data Analyst @ Bangalore contract role',
 'Mega Hiring For Data Analyst']

In [20]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [21]:
company_names=[]
for i in companies_tags[:10]:
    company_names.append(i.text)
company_names

['AXA XL',
 'Capgemini Technology Services India Limited',
 'Cyient Limited',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'SUEZ',
 'Capco Technologies Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'PERSOLKELLY INDIA PRIVATE LIMITED',
 'Startek (Aegis Customer Support Services Private Limited)']

In [22]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [23]:
experience_list=[]
for i in experience_tags[:10]:
    experience_list.append(i.text)
experience_list

['0-5 Yrs',
 '2-5 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '5-10 Yrs',
 '5-8 Yrs',
 '6-11 Yrs',
 '1-4 Yrs',
 '1-3 Yrs']

In [24]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [25]:
location_list=[]
for i in location_tags[:10]:
    location_list.append(i.text)
location_list

['Bangalore East',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 '(WFH during Covid)']

In [26]:
print(len(job_titles), len(company_names), len(experience_list), len(location_list))

10 10 10 10

In [27]:
import pandas as pd

jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=location_list
jobs['experience']=experience_list

In [28]:
jobs

,title,company,location,experience
0,Sr. Data Analyst I - Reference Data and Master...,AXA XL,Bangalore East,0-5 Yrs
1,Data Analyst,Capgemini Technology Services India Limited,Bangalore/Bengaluru,2-5 Yrs
2,Sr. Data Analyst,Cyient Limited,Bangalore/Bengaluru,4-7 Yrs
3,Data Analyst,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,2-5 Yrs
4,Data Analyst,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,3-5 Yrs
5,Data Analyst Global Procurement,SUEZ,Bangalore/Bengaluru,5-10 Yrs
6,Immediate Hiring For Business/ Data Analyst- C...,Capco Technologies Pvt Ltd,"Bangalore/Bengaluru, Mumbai (All Areas)",5-8 Yrs
7,Tcs Hiring For Senior Data Analyst (bfsi domain),Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru",6-11 Yrs
8,Hiring For Data Analyst @ Bangalore contract role,PERSOLKELLY INDIA PRIVATE LIMITED,Bangalore/Bengaluru,1-4 Yrs
9,Mega Hiring For Data Analyst,Startek (Aegis Customer Support Services Priva...,(WFH during Covid),1-3 Yrs

# Question 2 :

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [29]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [30]:
url = 'https://www.naukri.com/'
driver.get(url)

In [31]:
#finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [32]:
#write on search bar
search_job.send_keys("Data Scientist")

In [33]:
#finding element for job location bar
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [34]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [35]:
#extract data from webpage-job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [36]:
job_titles =[]
for i in titles_tags[:10]:
    job_titles.append(i.text)
job_titles

['Senior Data Scientist',
 'Sr . Data Scientist',
 'Senior Data Scientist',
 'Senior/ Lead Data Scientist',
 'Lead Data Scientist',
 'Integrated Demand Modelling Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Data Scientist - Sales Reports and Analytics']

In [37]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [38]:
location_list=[]
for i in location_tags[:10]:
    location_list.append(i.text)
location_list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [39]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [40]:
company_names=[]
for i in companies_tags[:10]:
    company_names.append(i.text)
company_names

['IBM India Pvt. Limited',
 'Fractal Analytics',
 'RANDSTAD INDIA PVT LTD',
 'Superior Group',
 'Fractal Analytics',
 'Dell International Services India Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Dell International Services India Private Limited']

In [41]:
job_url = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [42]:
Job_Desc=[]
for i in job_url[:10]:
    
    job_url.click()
    Job_Links= driver.find_elements_by_xpath("//section[@class='job-desc']")
    company_names.append(i.text)
    
Job_Links

AttributeError: 'list' object has no attribute 'click'

# Question 3 :

In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company_name, experience_required.The location filter to be used is “Delhi/NCR”.The salary filter to be used is “3-6” lakhs

In [43]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [44]:
url = 'https://www.naukri.com/'
driver.get(url)
time.sleep(3)

In [45]:
#finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [46]:
#write on search bar
search_job.send_keys("Data Scientist")

In [47]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [48]:
location= driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']")[1]
location.click()

In [49]:
salary= driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']")[5]
salary.click()

In [50]:
#extract data from webpage-job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [51]:
job_titles =[]
for i in titles_tags[:10]:
    job_titles.append(i.text)
job_titles

['Data Scientist',
 'Data Scientist',
 'Freelance Data Scientist Project Based',
 'Data Scientist',
 'Data & Business Analyst (Remote/Work from Home)',
 'Data Scientist Trainer',
 'Graduate Data Analyst',
 'Data Analyst',
 'Data Annotator Associate',
 'Data Engineering Content Developer']

In [52]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [53]:
location_list=[]
for i in location_tags[:10]:
    location_list.append(i.text)
location_list

['Remote',
 'Remote',
 'Remote',
 'Remote',
 'Remote',
 'Remote',
 'Remote',
 'Remote',
 'Remote',
 'Remote']

In [54]:
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [55]:
company_names=[]
for i in companies_tags[:10]:
    company_names.append(i.text)
company_names

['StatValu Private Limited',
 'Camelot Integrated Solutions Pvt. Ltd.',
 'Shikvix',
 'Top Mentor',
 'AINE Info Tech Pvt Ltd',
 'Top Mentor',
 'Packt Publishing Pvt. Ltd.',
 'AINE Info Tech Pvt Ltd',
 'saarthi.ai',
 'Data is Good']

In [56]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [57]:
experience_list=[]
for i in experience_tags[:10]:
    experience_list.append(i.text)
experience_list

['1-4 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '0-2 Yrs',
 '2-7 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-1 Yrs']

In [58]:
print(len(job_titles), len(company_names), len(experience_list), len(location_list))

10 10 10 10

In [59]:
import pandas as pd

jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=location_list
jobs['experience']=experience_list

In [60]:
jobs

,title,company,location,experience
0,Data Scientist,StatValu Private Limited,Remote,1-4 Yrs
1,Data Scientist,Camelot Integrated Solutions Pvt. Ltd.,Remote,2-6 Yrs
2,Freelance Data Scientist Project Based,Shikvix,Remote,3-8 Yrs
3,Data Scientist,Top Mentor,Remote,2-7 Yrs
4,Data & Business Analyst (Remote/Work from Home),AINE Info Tech Pvt Ltd,Remote,0-2 Yrs
5,Data Scientist Trainer,Top Mentor,Remote,2-7 Yrs
6,Graduate Data Analyst,Packt Publishing Pvt. Ltd.,Remote,0-2 Yrs
7,Data Analyst,AINE Info Tech Pvt Ltd,Remote,0-2 Yrs
8,Data Annotator Associate,saarthi.ai,Remote,0-2 Yrs
9,Data Engineering Content Developer,Data is Good,Remote,0-1 Yrs

# Question 4 :

Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [61]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [62]:
url = 'https://www.glassdoor.co.in/Job/index.htm'
driver.get(url)

In [63]:
search_job = driver.find_element_by_xpath("//input[@class='keyword']")
search_job

In [64]:
#write on search bar
search_job.send_keys("Data Scientist")

In [65]:
location = driver.find_element_by_xpath("//input[@class='loc']")
location.clear()
location.send_keys("Noida")

In [66]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [67]:
#company name
name=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span")

In [68]:
company =[]
for i in name[:10]:
    company.append(i.text)
company

[]

In [69]:
#no of days
no=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [70]:
noofdays =[]
for i in no[:10]:
    noofdays.append(i.text)
noofdays

[]

In [71]:
#rating
rating=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

In [72]:
ratings =[]
for i in rating[:10]:
    ratings.append(i.text)
ratings

[]

In [73]:
print(len(company), len(noofdays), len(ratings))

0 0 0

In [74]:
import pandas as pd

Jobs=pd.DataFrame({})
Jobs['Company']=company
Jobs['No of Days']=noofdays
Jobs['Ratings']=ratings

In [75]:
jobs

,title,company,location,experience
0,Data Scientist,StatValu Private Limited,Remote,1-4 Yrs
1,Data Scientist,Camelot Integrated Solutions Pvt. Ltd.,Remote,2-6 Yrs
2,Freelance Data Scientist Project Based,Shikvix,Remote,3-8 Yrs
3,Data Scientist,Top Mentor,Remote,2-7 Yrs
4,Data & Business Analyst (Remote/Work from Home),AINE Info Tech Pvt Ltd,Remote,0-2 Yrs
5,Data Scientist Trainer,Top Mentor,Remote,2-7 Yrs
6,Graduate Data Analyst,Packt Publishing Pvt. Ltd.,Remote,0-2 Yrs
7,Data Analyst,AINE Info Tech Pvt Ltd,Remote,0-2 Yrs
8,Data Annotator Associate,saarthi.ai,Remote,0-2 Yrs
9,Data Engineering Content Developer,Data is Good,Remote,0-1 Yrs

# Question 5 :

Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [76]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [78]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [79]:
search_job = driver.find_element_by_xpath("//input[@class='keyword']")
search_job

In [80]:
#write on search bar
search_job.send_keys("Data Scientist")

In [81]:
location = driver.find_element_by_xpath("//input[@class='loc']")
location.clear()
location.send_keys("Noida")

In [82]:
#do click using xpath function
search_btn= driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [83]:
#company name
name=driver.find_elements_by_xpath("//p[@class='m-0 ']")

In [84]:
company =[]
for i in name[:10]:
    company.append(i.text)
company

[]

In [85]:
#no of salaries
salno=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")

In [86]:
salaries =[]
for i in salno[:10]:
    salaries.append(i.text)
salaries

[]

In [87]:
#avg salary
salavg=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

In [88]:
avgsalaries =[]
for i in salavg[:10]:
    avgsalaries.append(i.text)
avgsalaries

[]

In [89]:
#min salary
salmin=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']")

In [90]:
minmaxsalaries=[]
for i in salmin[:10]:
    minmaxsalaries.append(i.text.split('\n'))
minmaxsalaries

[]

In [91]:
print(len(company), len(salaries), len(avgsalaries), len(minmaxsalaries))

0 0 0 0

In [92]:
import pandas as pd

Jobs=pd.DataFrame({})
Jobs['Company']=company
Jobs['No of Salaries']=salaries
Jobs['Avg Salary']=avgsalaries
Jobs['Mininum and Maximum Salaries']=minmaxsalaries

In [93]:
jobs

,title,company,location,experience
0,Data Scientist,StatValu Private Limited,Remote,1-4 Yrs
1,Data Scientist,Camelot Integrated Solutions Pvt. Ltd.,Remote,2-6 Yrs
2,Freelance Data Scientist Project Based,Shikvix,Remote,3-8 Yrs
3,Data Scientist,Top Mentor,Remote,2-7 Yrs
4,Data & Business Analyst (Remote/Work from Home),AINE Info Tech Pvt Ltd,Remote,0-2 Yrs
5,Data Scientist Trainer,Top Mentor,Remote,2-7 Yrs
6,Graduate Data Analyst,Packt Publishing Pvt. Ltd.,Remote,0-2 Yrs
7,Data Analyst,AINE Info Tech Pvt Ltd,Remote,0-2 Yrs
8,Data Annotator Associate,saarthi.ai,Remote,0-2 Yrs
9,Data Engineering Content Developer,Data is Good,Remote,0-1 Yrs

Question 9:
Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [99]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [100]:
url = 'https://www.myntra.com/shoes'
driver.get(url)
time.sleep(5)

In [101]:
#do click using xpath function
price_filter= driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")[7]
price_filter.click()

In [102]:
#do click using xpath function
color= driver.find_elements_by_xpath("//span[@class='colour-label colour-colorDisplay']")[0]
color.click()

In [103]:
#brand
brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [104]:
prod_brand =[]
for i in brand[:100]:
    prod_brand.append(i.text)
prod_brand

['Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'Hush Puppies',
 'Hush Puppies',
 'Hush Puppies',
 'Hush Puppies',
 'UNDER ARMOUR',
 'Calvin Klein',
 'PUMA Motorsport',
 'Puma',
 'Nike',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'Puma',
 'FORCLAZ By Decathlon',
 'Puma',
 'Hush Puppies',
 'Hush Puppies',
 'Puma',
 'UNDER ARMOUR',
 'Tommy Hilfiger',
 'ALDO',
 'Puma',
 'Puma',
 'ASICS',
 'ROSSO BRUNELLO',
 'J.FONTINI',
 'Puma',
 'DAVINCHI',
 'UNDER ARMOUR',
 'Bugatti',
 'Puma',
 'Cole Haan',
 'Puma',
 'Puma',
 'ASICS',
 'Bugatti',
 'DAVINCHI',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR']

In [105]:
#shoe desc
desc=driver.find_elements_by_xpath("//h4[@class='product-product']")

In [106]:
prod_desc =[]
for i in desc[:100]:
    prod_desc.append(i.text)
prod_desc

['Men Air Zoom Structure Running',
 'Unisex KD TREY 5 IX Basketball',
 'Men Cell Fraction Fade Running',
 'Men Flex 2021 Running Shoes',
 'Men Flex Run 2021 Running Shoe',
 'Men BlackTraining or Gym Shoes',
 'Unisex RS-Fast Sneakers',
 'Mesh Hybrid Fuego Running',
 'Men Velocity Nitro Running',
 'Men Leather Slip-On Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Leather Slip-On Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men HOVR Sonic STRT Tech Shoes',
 'Men Loafers',
 'Unisex FerrariRS-Fast Sneakers',
 'Women Deviate Nitro Running',
 "Men BlazerLow '77 Sneakers",
 'Men Black Shoes',
 'Women Charged Bandit 6 Running',
 'Unisex Connect Splash Trainers',
 'Men AIR MAX INFINITY 2 Sneaker',
 'Women Provoke XT FTR Shoes',
 'TREKKING 100 Boots',
 'Women Training or Gym Shoes',
 'Men Formal Derbys',
 'Men Leather Derbys',
 'Men Jamming 2.0 Running Shoes',
 'Women Charged Impulse Shft',
 'Men Striped Leather Sneakers',
 'Women Sneakers',
 'Unisex RS-Z Running Shoes',
 'Women Magnify Nitro Shoes',
 'Men Tennis Shoes',
 'Men Leather Formal Loafers',
 'Men Black Leather Loafers',
 'Unisex Colourblocked Sneakers',
 'Men Textured Formal Leather Loafers',
 'Women HOVR Sonic 4 FnRn',
 'Men Walking Shoes',
 'Men Liberate NITRO Running',
 'Men Wingtip Oxford Sneakers',
 'Men Running Shoes',
 'Women Fuse Training Shoes',
 'Men Black Running Sports Shoes',
 'Women Mid-Top Sneakers',
 'Men Textured Formal Leather Oxfords',
 'Men Pure XT Training Shoes',
 'Women Charged Vantage ClrShft',
 'Women Charged Rogue 2.5ClrSft']

In [107]:
#price
price=driver.find_elements_by_xpath("//div[@class='product-price']")

In [108]:
prod_price =[]
for i in price[:100]:
    prod_price.append(i.text)
prod_price

['Rs. 10295',
 'Rs. 8195',
 'Rs. 6999',
 'Rs. 6795',
 'Rs. 6795',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9999',
 'Rs. 8999Rs. 14999(40% OFF)',
 'Rs. 7195',
 'Rs. 6999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8295',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 7499',
 'Rs. 7599',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 9749Rs. 12999(25% OFF)',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 8490',
 'Rs. 6999',
 'Rs. 8990',
 'Rs. 10999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 7990',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 7999']

In [109]:
print(len(prod_brand), len(prod_desc), len(prod_price))

50 50 50

In [110]:
import pandas as pd

products=pd.DataFrame({})
products['brand']=prod_brand
products['ratings']=prod_desc
products['price']=prod_price

In [111]:
products

,brand,ratings,price
0,Nike,Men Air Zoom Structure Running,Rs. 10295
1,Nike,Unisex KD TREY 5 IX Basketball,Rs. 8195
2,Puma,Men Cell Fraction Fade Running,Rs. 6999
3,Nike,Men Flex 2021 Running Shoes,Rs. 6795
4,Nike,Men Flex Run 2021 Running Shoe,Rs. 6795
5,Puma,Men BlackTraining or Gym Shoes,Rs. 6999
6,Puma,Unisex RS-Fast Sneakers,Rs. 9999
7,Puma,Mesh Hybrid Fuego Running,Rs. 6999
8,Puma,Men Velocity Nitro Running,Rs. 10999
9,Hush Puppies,Men Leather Slip-On Sneakers,Rs. 6999
10,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999
11,Hush Puppies,Men Leather Slip-On Sneakers,Rs. 9999
12,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
13,UNDER ARMOUR,Men HOVR Sonic STRT Tech Shoes,Rs. 9999
14,Calvin Klein,Men Loafers,Rs. 7199Rs. 8999(20% OFF)
15,PUMA Motorsport,Unisex FerrariRS-Fast Sneakers,Rs. 9999
16,Puma,Women Deviate Nitro Running,Rs. 8999Rs. 14999(40% OFF)
17,Nike,Men BlazerLow '77 Sneakers,Rs. 7195
18,Puma,Men Black Shoes,Rs. 6999
19,UNDER ARMOUR,Women Charged Bandit 6 Running,Rs. 8999
20,Puma,Unisex Connect Splash Trainers,Rs. 8999
21,Nike,Men AIR MAX INFINITY 2 Sneaker,Rs. 8295
22,Puma,Women Provoke XT FTR Shoes,Rs. 7499
23,FORCLAZ By Decathlon,TREKKING 100 Boots,Rs. 6999
24,Puma,Women Training or Gym Shoes,Rs. 6999
25,Hush Puppies,Men Formal Derbys,Rs. 9999
26,Hush Puppies,Men Leather Derbys,Rs. 7999
27,Puma,Men Jamming 2.0 Running Shoes,Rs. 12999
28,UNDER ARMOUR,Women Charged Impulse Shft,Rs. 7499
29,Tommy Hilfiger,Men Striped Leather Sneakers,Rs. 7599
30,ALDO,Women Sneakers,Rs. 11999
31,Puma,Unisex RS-Z Running Shoes,Rs. 9999
32,Puma,Women Magnify Nitro Shoes,Rs. 9749Rs. 12999(25% OFF)
33,ASICS,Men Tennis Shoes,Rs. 9999
34,ROSSO BRUNELLO,Men Leather Formal Loafers,Rs. 12999
35,J.FONTINI,Men Black Leather Loafers,Rs. 8490
36,Puma,Unisex Colourblocked Sneakers,Rs. 6999
37,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
38,UNDER ARMOUR,Women HOVR Sonic 4 FnRn,Rs. 10999
39,Bugatti,Men Walking Shoes,Rs. 8999
40,Puma,Men Liberate NITRO Running,Rs. 9999
41,Cole Haan,Men Wingtip Oxford Sneakers,Rs. 12999
42,Puma,Men Running Shoes,Rs. 8449Rs. 12999(35% OFF)
43,Puma,Women Fuse Training Shoes,Rs. 7999
44,ASICS,Men Black Running Sports Shoes,Rs. 7999
45,Bugatti,Women Mid-Top Sneakers,Rs. 7499
46,DAVINCHI,Men Textured Formal Leather Oxfords,Rs. 7990
47,Puma,Men Pure XT Training Shoes,Rs. 6999
48,UNDER ARMOUR,Women Charged Vantage ClrShft,Rs. 7999
49,UNDER ARMOUR,Women Charged Rogue 2.5ClrSft,Rs. 7999

Question 10:
Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [112]:
#connect to webdriver
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [113]:
url = 'https://www.amazon.in/'
driver.get(url)
time.sleep(5)

In [114]:
#finding element for job search bar
search_bar = driver.find_element_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
search_bar

In [115]:
#write on search bar
search_bar.send_keys("Laptop")

In [116]:
#do click using xpath function
search_btn= driver.find_elements_by_xpath("//input[@class='nav-input nav-progressive-attribute']")[1]
search_btn.click()
time.sleep(10)

In [118]:
#extract data from webpage- titles
titles_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

In [119]:
prod_titles =[]
for i in titles_tags[:10]:
    prod_titles.append(i.text)
prod_titles

['HP Pavilion 14 11th Gen Intel Core i5 14-inch (35.5 cms) Thin & Light FHD Laptop (8GB/512GB SSD/Windows 10/MS Office/Natural Silver/1.41 kg), 14-dv0543TU',
 'HP 14 Ryzen 5 3500U 14-inch(35.6 cm) FHD Thin & Light Laptop(8GB RAM/256GB SSD + 1TB HD/Windows 10/MS Office/Natural Silver/1.47 Kg), 14s-dk0501AU',
 'Acer Aspire 3 AMD Athlon Silver 3050U Dual-core Processor 15.6" (39.6 cms) Laptop - (4 GB/1TB HDD/Windows 10 Home/AMD Radeon Graphics /1.9Kg/Silver) A315-23',
 'HP Chromebook 14-inch (35.56 cms) Thin & Light Touchscreen Laptop (Celeron N4020/4GB/64GB eMMC + 256GB Expandable Storage/Chrome OS/1.46 kgs Light/ Mineral Silver), 14a-na0003TU',
 'Dell Inspiron 3502 15.6" (39.62 cms) HD Display Laptop (Pentium Silver N5030 / 4GB / 256GB SSD / Integrated Graphics / Win 10 + MSO / Accent Black) D560427WIN9BE',
 'ASUS VivoBook 14 (2020), 14-inch (35.56 cms) Full HD, AMD Ryzen 3 3250U, Thin and Light Laptop (4GB RAM/1TB HDD/Integrated Graphics/Windows 10/Slate Grey/1.6 kg), M415DA-EB301T',
 'RDP ThinBook 1010 - Intel Celeron Quad Core Processor, 4GB RAM, 64GB Storage, Windows 10 Pro, 14.1” HD Screen',
 'HP 15 AMD Athlon 15.6" (39.62cms) HD Laptop (Silver-3050U/4GB/1TB/Win 10/MS Office/Jet Black/1.85kg), 15s-gy0001au',
 'HP 15 Intel Pentium Gold 6405U Processor Entry Level 39.62 cms(15.6-inch) FHD Laptop (4GB/1TB/Win 10/Jet Black/1.74kg), 15s-du1052tu',
 'Lenovo V15 AMD 15.6-inch (39.6 cm) FHD Thin and Light Laptop (AMD Athlon Silver 3050 U/ 4GB RAM/ 1TB HDD/ Windows 10 Home/Integrated AMD Radeon Graphics/ Iron Grey/ 1.85 kg), 82C700J0IH']

In [120]:
#extract data from webpage- rating
ratings=driver.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']//span")

In [121]:
prod_ratings =[]
for i in ratings[:10]:
    prod_ratings.append(i.text)
prod_ratings

['', '', '', '', '', '', '', '', '', '']

In [122]:
#extract data from webpage- titles
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [123]:
prod_price =[]
for i in price[:10]:
    prod_price.append(i.text)
prod_price

['62,990',
 '47,990',
 '28,578',
 '27,990',
 '30,790',
 '31,990',
 '19,990',
 '31,700',
 '99,492',
 '76,999']

In [124]:
print(len(prod_titles), len(prod_ratings), len(prod_price))

10 10 10

In [125]:
import pandas as pd

products=pd.DataFrame({})
products['title']=prod_titles
products['ratings']=prod_ratings
products['price']=prod_price

In [126]:
products

                                               title ratings   price
0  HP Pavilion 14 11th Gen Intel Core i5 14-inch ...          62,990
1  HP 14 Ryzen 5 3500U 14-inch(35.6 cm) FHD Thin ...          47,990
2  Acer Aspire 3 AMD Athlon Silver 3050U Dual-cor...          28,578
3  HP Chromebook 14-inch (35.56 cms) Thin & Light...          27,990
4  Dell Inspiron 3502 15.6" (39.62 cms) HD Displa...          30,790
5  ASUS VivoBook 14 (2020), 14-inch (35.56 cms) F...          31,990
6  RDP ThinBook 1010 - Intel Celeron Quad Core Pr...          19,990
7  HP 15 AMD Athlon 15.6" (39.62cms) HD Laptop (S...          31,700
8  HP 15 Intel Pentium Gold 6405U Processor Entry...          99,492
9  Lenovo V15 AMD 15.6-inch (39.6 cm) FHD Thin an...          76,999